mixin no-repository
  li.no-repository
    .panel-heading
      | No repositories
    .panel-body
      | It appears that you don't have any repositories in this organization yet,
      | or you may not have sufficient permissions. Contact us if you think it is
      | an error.

mixin last-sync(url, text, last_synchronized_at)
  .last-sync
    form(action=url, method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      button.btn.btn-link
        i.fa.fa-refresh
        | #{text}

      if last_synchronized_at
        span (last synced about #{moment(last_synchronized_at).fromNow()})

mixin no-org-chosen
  .panel.panel-default
    .panel-heading
      .fa.fa-hand-o-left.hidden-sm
      .fa.fa-hand-o-up.visible-sm-inline
      | Select an organization
    .panel-body
      p We have synchronized your GitHub organizations automatically.
      p Now, it is up to you to pick one in order to enable any of your projects you have (admin) access to.
