footer
  .container.text-center
    p.pull-left Your friends at&nbsp;
      a(href='https://tailordev.fr') TailorDev
      |.
    ul.pull-right.list-inline
      li
        a(href='https://twitter.com/_TailorDev')
          .i.fa.fa-twitter

