mixin project-name(emphasis)
  if emphasis == false
    | Assignees
  else
    em Assignees

mixin contact-us(withIcon)
  a(href='mailto:support@tailordev.fr?Assignees Help', class='btn btn-link contact-us')
    if withIcon !== false
      i.fa.fa-life-ring
    | contact us

mixin sign-in
  form(action='/auth/github', method='GET', class='call-for-action sign-in')
    button(type='submit')
      i.fa.fa-github
      | Sign in with GitHub
    .checkbox
      label
        input(type='checkbox', name='private', checked=true)
        | Include #[strong private repositories]
