extends layout

mixin feature(title, icon)
  .col-sm-4.feature
    h2
      i(class=`fa fa-${icon}`)
      | #{title}
    block

block content
  h1 #[+project-name(false)]
  p.lead Code reviews for everyone.

  .row
    .col-md-12
      h3.text-center
        | Involve your collaborators with automatic code review requests.

  if !user
    .row
      .col-md-4.col-md-offset-4
        +sign-in

  hr

  .row
    +feature('Seamless integration', 'magic')
      p.text-justify
        | #[+project-name] integrates seamlessly with GitHub, using their built-in
        | review request system. #[strong Enable your project] and reviewers will be
        | assigned.

    +feature('Automatic', 'refresh')
      p.text-justify
        | #[+project-name] listens to GitHub events. When a Pull Request is opened,
        | #[+project-name] #[strong automatically select the right reviewers] and request
        | #[a(href='https://help.github.com/articles/requesting-a-pull-request-review/') pull request reviews].
    +feature('Smart', 'random')
      p.text-justify
        | #[+project-name] chooses the best reviewers for the Pull Request that you
        | have just received. #[strong Do not worry] about bothering the wrong people.
        | #[span.label.label-default coming soon]

  hr
  .row
    .col-md-8
      include _faq

    .col-md-4
      h3.text-center This is how it looks!
      br
      p
        img(src='/images/assignees-projects.png', class='img-responsive')


