@import "themes/modern/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";
@import "lib/octicons/octicons";
@import "lib/bootstrap-select.min";

@import "themes/modern/modern";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
    font-size: 1.1rem;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

// Octicons
// -------------------------

.octicon {
  vertical-align: middle;
}

// Custom
@import "assignees/main";
