extends ../layout

block content
  .jumbotron
    h1 #{title}
    p We track these errors automatically, but if the problem persists feel free to #[+contact-us].
    p In the meantime, try refreshing.
