.feature {
  .fa {
    color: $brand-primary;
  }
}

.call-for-action {
  margin-top: 12%;
  margin-bottom: 10%;

  text-align: center;

  button {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-lg;
  }
}
