.feature {
  .fa {
    color: $brand-primary;
  }
}

.call-for-action {
  margin-top: 12%;
  margin-bottom: 10%;

  text-align: center;

  button {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-lg;
  }
}

.screenshots {
  > button {
    background-color: transparent;
    border: 0;
  }

  .screenshot-projects img {
    width: 1000px;
  }
}

.big-picture {
  margin-top: 5%;
  margin-bottom: 5%;
}
