@import "./home";

.organizations {
  @extend .list-group;

  a {
    @extend .list-group-item;

    img {
      @extend .img-circle;

      width: 50px;
    }

    .name {
      margin-left: 1rem;
      font-weight: 500;
    }
  }
}

.repositories {
  @extend .list-group;

  .repository {
    @extend .row;
    @extend .list-group-item;

    font-weight: 500;

    .name {
      @extend .col-xs-9;

      form {
        > * {
          padding-right: 1rem;
        }

        label {
          margin-bottom: 0;
          font-weight: 400;
        }

        .max-reviewers-input {
          width: 50px;
        }
      }
    }

    .actions {
      @extend .col-xs-3;

      text-align:right;

      .action {
        display: inline-block;
        margin-left: 1rem;
      }
    }

    .name,
    .actions {
      height: 50px;
      line-height: 50px;
    }
  }
}
