.organizations {
  @extend .list-group;

  a {
    @extend .list-group-item;

    img {
      @extend .img-circle;

      width: 50px;
    }

    .name {
      margin-left: 1rem;
      font-weight: 500;
    }
  }
}

.repositories {
  @extend .list-group;

  .repository {
    @extend .row;
    @extend .list-group-item;

    margin: 0;
    padding-left: 0;
    padding-right: 0;

    font-weight: 500;

    &.is-private {
      background-color: $private-repository-color;
    }

    &-name {
      margin: 5px 0 6px 0px;

      a {
        color: $gray-darker;

        &:focus,
        &:hover {
          color: $brand-primary;
        }
      }
    }

    &-configuration {
      margin-top: 1rem;

      form {
        > * {
          padding-right: 1rem;
        }

        label {
          margin-bottom: 0;
          font-weight: 400;
        }

        .max-reviewers-input {
          width: 50px;
        }
      }
    }

    .label {
      display: inline-block;
      max-width: 80%;

      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
      vertical-align: text-bottom;

      background-color: $gray-darker;
    }

    .actions {
      text-align: right;
      padding-left: 0;
    }
  }

  .no-repository {
    @extend .panel;
    @extend .panel-default;

    list-style-type: none;
  }
}

.last-sync {
  @extend .row;
  @extend .hidden-xs;

  margin-bottom: 20px;

  & > form {
    @extend .col-md-12;
  }

  .btn-link {
    padding: 0 5px 0 0;
    vertical-align: initial;
  }
}

.application-link {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .organizations .active {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}
