extends layout

block content
  h1 Assignees
  p.lead Code reviews for everyone.
  hr
  .row
    .col-sm-6
      h2 Automatic
      p Enable Assignees on a repository and your collaborators will receive code review requests as soon as a Pull Request is open.
    .col-sm-6
      h2 Smart
      p Reviewers are assigned because they were involved in the code that is changed. In addition, Pull Requests that are marked as Work In Progress (WIP) can be skipped.
    .col-sm-6
      h2 Seamless integration
      p Assignees integrates seamlessly with GitHub, using their existing review request system.
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
