extends layout

block content
  h1 Assignees
  p.lead Code reviews for everyone.
  hr
  .row
    .col-sm-6
      h2
        .fa.fa-refresh
        | Automatic
      p Enable Assignees on a repository and your collaborators will receive code review requests as soon as a Pull Request is open.
    .col-sm-6
      h2
        .fa.fa-random
        | Smart
      p Reviewers are assigned because they were involved in the code that is changed. In addition, Pull Requests that are marked as Work In Progress (WIP) can be skipped.
    .col-sm-6
      h2
        .fa.fa-bolt
        | Seamless integration
      p Assignees integrates seamlessly with GitHub, using their existing review request system.
    .col-sm-6
      h2
        .fa.fa-gears
        | Configurable
      p You can configure how many collaborators should review a Pull Request.

  if !user
    .row
      .col-md-4.col-md-offset-4
        p.sign-in
          a(href='/auth/github').btn.btn-primary.btn-lg
            i.fa.fa-github
            | Sign in with GitHub
